@charset "UTF-8";
body{
	background-color: #3a3737;
	background-repeat: no-repeat;
}
#top {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 10;
	background-color: #3a3737;
	border: 0;
	color:#ffffff;
	text-align: left;	
}
.header{
	color: #cfcfe2;
}
/* include的内容面板 */
.frame{
	position: absolute;
	z-index: 10;
	left: 35%;
	top: 5%;
	width: auto;
}
.frame h2{
	text-align: left;
	padding-left: 120;
	font-family:cursive;
	color: #5d887a;
}
/* 单选框 */
#enter #selector input{
	-webkit-appearance: none;
	display: inline-block;
	width: 20px;
	height: 20px;
}
#enter #selector input:checked{
	background-color: #93ddc4;
}
#leftMenu {
	position: absolute;
	left: 0%;
	top: 10%;
	width: 12%;
	height: 90%;
	border-right: 2px solid rgb(221, 221, 221);
	background-color: #3a3737;
}
/* 内容面板 */
#content {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 88%;
	height: 90%;
	display: block;
	padding: 0 0 0 0;;
	line-height: 30px;
	border: 0;
	border-radius: 10px;
	background: #ffffff;
	text-align: center;	
	
}

a:hover{
	text-decoration: none;
}
ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

li
{
float:left;
}
#leftMenu h3{
	font-size: medium;
	color: #a9aaaa;
	margin-top: 10px;
	margin-left: 35px;
}
#leftMenu ul {
	margin: 10px 10px;
}

#leftMenu ul li {
	width: 100px;
	height: 30px;
	display: block;
	cursor: pointer;
	line-height: 30px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 30px;
}
#leftMenu ul li img{
	width: 16px;
	height: 16px;
}

#leftMenu ul li a {
	
	text-decoration: none;
    color: #8B8E93;
    display: block;
	text-decoration: none;
}
#leftMenu ul li a:hover{
	background-color: #f0f0f0;
	text-decoration: none;
}
#leftmenu ul li a:checked{
	background-color: #f0f0f0;
}
#leftMenu li:hover{
	text-decoration:none;
	color:#ff0000;
	background-image:url(../images/button02.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#enter{
	width:500px;
	font-size:12pt;
	text-align:left;
	/*border:1px solid #6699FF;*/
	margin:10px auto;
}

#enter div{
	margin:10px auto;
	padding:0;
}
/* 单选按钮标签 */
#enter label{
	font-size:16px;
	bottom:4px;
	position: relative;
}

#enter input{
	width:330px;
	height: 45px;
	font-size:12pt;
	text-align:left;
	background: none;
	border: #c0c0c5 1px solid;
	border-radius: 5px;
	padding: 7px 10px;
	outline: none;
	color: #656e5f;
}
#enter select{
	width:330px;
	height: 45px;
	font-size:12pt;
	text-align:left;
	background: none;
	padding: 5px 10px;
	outline: none;
	border-radius: 5px;
	border: #c0c0c5 1px solid;
	color: #656e5f;
}
#enter input:hover {
	background:#dededf;
}
#enter select:hover {
	background:#dededf;
}
/*添加或取消按钮样式*/
#enter .addbt{
	left: 34px;
}

#enter .addbt input {
	margin:15px 15px;
	width: 130px;
	height: 45px;
	text-align: center;
	font-size: 20px;
}
