table{
    /* border: 1px solid rgba(199, 196, 199, 0.667); */
    /* border-collapse: collapse; */
    border-radius: 5px;
    margin-bottom: 2px;
    width: 100%;
    height: 45px;
    color: rgb(105, 106, 107);
    background-color: rgb(170, 220, 221);
}
table td{
    text-align: center;
    /* vertical-align: top; */
    padding: 12px;
}
table:hover{
 background-color: rgb(140, 199, 167);
 transform: scale(1.2);
 transition: all .3s;
}
#table{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    padding-left: 50px;
    padding-right: 100px;
}
#table::-webkit-scrollbar{
    width:0;
}
#table ::-webkit-scrollbar-track{
    display: none;
}
#table::-webkit-scrollbar-button{
    display: none;
}